@tailwind base;
@tailwind components;
@tailwind utilities;

#my-stackblitz-embed{
  height: 100%;
}

.test-exercice{
  display: flex;
  height: 60vh;

  &> div{
    flex: 1;
  }
}

.exercice-container{
  background-color: red;
}
